# Node modules
node_modules/

# Build output
dist/

# Vite cache and temp files
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local env files
.env
.env.*

# System files
.DS_Store
*.log

# IDE
.idea/
.vscode/

# Misc
*.local

# Cache directories
.cache/
.parcel-cache/
.next/
.nuxt/

# Runtime and logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# BrowserSync
.browserSync/
.vite_cache/
